<p id="notice"><%= notice %></p>

<h2>
  <%= @post.title %>
</h2>

<h3 style="color:#c00"><%= @post.body %></h3>
        Category:
        <h4 style="color:#396;display:inline"><%= @post.category.name %></h4><br>

        
        
  <%if @post.user.email == current_user.email %>
        <button type="button" class="btn btn-info"><%= link_to 'Edit Post', edit_post_path(@post) %></button>
        <button type="button" class="btn btn-danger"><%= link_to 'Delete Post', @post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        <br>
        <% end %>

  <h3>Post a comment:</h3>
<%= form_for([@post, Comment.new]) do |f| %>
  
    <%= f.hidden_field :post_id , :value => @post  %>
    <%= f.hidden_field :user_id , :value => current_user.id %>
  
    <p><%= f.text_area :body %></p>
  <p>
    <%= f.submit  %>
  </p>
<% end %>


  <h3>Comments</h3>
  
<% @post.comments.each do |comment| %>

<%= comment.user.email %>
  
 <div class="well well-lg"><%= comment.body %></div>


<% end %>




